/*
	Copyright Malico @ 2018
*/
/*General CSS */

@import 'css/font-awesome.min.css';
*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
.flex{ /* For Flex boxes */
	display: flex;
	align-items: center;
	justify-content: center;
}
small{
	font-size: 60%;
}

.wrap{
	height: 101vh;
	width: 100%;
	overflow-x: hidden;
}
.bio{
	height: 100%;
}
