@media(min-width: $mobile-width){
    .bg-top{
        height: 40vh;
        left: 0;
        right: 0;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: $top-bg;
    }
}
