// malico.com
/* Normalization */
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
}
img{
	width: 100%;
}
ul{
	list-style: none;
}
.wrap{
	padding: 10%;
}
// Input
button{
	padding: 0.5em 0.4em;
	cursor: pointer;
}