// malico.com
// General
$theme-color: #595959;
$font-family: Roboto, Raleway, "Segoe UI", sans-serif;
/* Normalization */
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
}
img{
	width: 100%;
}
ul{
	list-style: none;
}
.wrap{
	padding: 10%;
}
// Input
button{
	padding: 0.818em 0.909em;
	cursor: pointer;
	border: 0;
	outline: 0;
	color: white;
	background: $theme-color;
}

//
body{
	font-family: $font-family;
}