// malico.com
@import url('css/font-awesome.min.css');
// General
$theme-color: #595959;
$font-family:Lato, Roboto, Raleway, "Segoe UI", sans-serif;
$border-color: #e1e1e1;
/* Normalization */
hr{
	outline: 0;
	border: 1px solid #fafafa;
	margin: 20px 0;
	width: 50%;
}
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
input, textarea{
	padding: 0.7em;
	outline: 0;
}
html{
	overflow-x: hidden;
}
img{
	width: 100%;
	filter: grayscale(0);
}
ul{
	list-style: none;
}
a{
	color: $theme-color;
	text-decoration: none;
}
// Input
button{
	padding: 0.818em 0.909em;
	cursor: pointer;
	border: 0;
	outline: 0;
	color: white;
	background: $theme-color;
}
@mixin border-top{
	border-top: 1px solid $border-color;
}@mixin border-bottom{
	border-bottom: 1px solid $border-color;
}@mixin border-left{
	border-left: 1px solid $border-color;
}@mixin border-right{
	border-right: 1px solid $border-color;
}
@mixin flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
//
body{
	font-family: $font-family;
	font-weight: 300;
	background-color: #fcfcfc;
}
.wrap{
	.bio{
		@include border-bottom;
		background-color: white;
		main{
			width: 100%;
			@include flex-center;
			> *{
				padding: 15px;
			}
			.avatar{
				@include flex-center;
				flex-flow: column;
				width: 50%;
				img{
					$side: 250px;;
					height: $side;
					width: $side; 
					border-radius: 100%;
					box-shadow: 0 0 5px #bbb;
				}
				.links{
					margin: 10px;
					color: black;
					font-size: 1.5em;
					ul{
						display: flex;
						width: 100px;
						justify-content: space-around;
						li{
							margin: 10px 15px;
							a{
								transition: all 0.4s ease;
								padding: 10px;
								border-radius: 100%;
								width: 30px;
								height: 30px;
								border: 1px solid $border-color;
								&:hover{
									position: relative;
									top: -7px;
									background: white;
									transform: scale(0.5);
									box-shadow: 0px 7px 10px #afafaf;
									border: none;
								}
							}
						}
						li:first-child:hover{
							a{
								color: #55ACEE;
							}
						}
						li:nth-child(2):hover{
							a{
								color: black;
							}
						}
					}
				}
			}
			.skills{
				width: 50%;
				height: 100%;
				@include flex-center;
				flex-flow: column;
				.animation{
					width: 100%;
					margin: 15px 0;
					height: 50px;
					text-align: center;
					#text{
						text-align: center;
						font-size: 2.5em;
						margin: 0;
						padding: 0;
					}
					#btn{
						padding: 1.1em 1.3em;
						font-weight: 700;
						transition: all 0.3s ease;
						background: #f5941b;
						box-shadow: 0 0 10px $border-color;
						color: #fbfbfb;
						&:hover{
							box-shadow: 0 0 30px $border-color;
							border: none;
						}
					}
					.blink{
						font-size: 2.5em;
						animation: blink 0.8s infinite;
					}
				}
			}
		}
	} 
	.content{
		padding: 50px 60px;
		.content-wrap{
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			overflow: hidden;
			.slide{
					h4{
						font-family: serif;
    					letter-spacing: 0.1em;
    					opacity: 0.6;
					}
					a{
						text-decoration: none;
						font-weight: 500;
						font-style: italic;
					}
				    width: 33.333%;
				    display: flex;
				    padding: 1em 1.5em 3em;
				    line-height: 1.7;
				    background: white;
				    flex-flow: column;
				    align-items: center;
				    margin:10px;
				    font-size: 105%;
				    box-shadow: 0 0 7px $border-color;
				    &.skills{
				    	ul{
				    		display: flex;
				    		flex-wrap: wrap;
				    		li{
				    			    width: 50%;
								    text-align: center;
								    margin: 7px 0;
								    display: flex;
								    flex-flow: column;
								    justify-content: center;
				    			.framework{
				    				    opacity: 0.3;
									    font-style: italic;
									    font-weight: 500;
									    transform: scale(0.8);
				    			}
				    		}
				    	}
				    }
				    &.slider{
				    	width: 66.67%;
				    	h2{
				    		text-align: center;
				    	}
				    }
				    &.contact{
				    	width: 50%;
				    	form{
				    		width: 50%;
				    		p{
				    			width: 100%;
					    		input, textarea{
					    			margin: 7px 0;
					    			border: 1px solid $border-color;
					    			width: 100%;
					    			transition: all 0.3s ease;
					    			&:focus{
					    				background: white;
					    				position: relative;
					    				top: 5px;
					    				border-color: white;
					    				box-shadow: 0 0 10px $border-color;
					    			}
					    		}
					    		textarea{
					    			resize: vertical;
					    			height: 20vh;
					    		}
					    	}
				    	}
				    }
			}
		}
	}
	.footer{
		display: flex;
		align-items: center;
		padding: 0 30px;
		justify-content: space-between;
		background-color: white;
		@include border-top;
		font-size: 1.1em;
		height: 60px;
	}
}

.btn-show{
	display: inline;
	animation: fade-in 1.5s ease;
}
.btn-hide{
 	opacity: 0;
 	height: 0;
 	animation: fade-out .5s ease;
}
@keyframes fade-in{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-out{
	from{
		opacity: 1;
	} to{
		opacity: 0;
	}
}
// medias
@media (max-width: 550px){
	.wrap{
		main{
			flex-flow: column;
			.skills{
				.animation{
					height: auto !important;
				}
			}
		}
		.content{
			.content-wrap{
				flex-flow: column;
				align-items: center;
				.slide{
					width: 100% !important;
					&.contact{
						form{
							width: 80%;
						}
					}
				}
			}
		}
	}
}
@media(min-width: 550px){
	main{
		.avatar{
			@include border-right;
		}
	}
}
@keyframes blink{
	0%{
		opacity: 1;
	}
	30%{
		opacity: 0;
	}
	80%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}